@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
     /* font-family: "Baloo Paaji 2", sans-serif; */
@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  background-image: url('@/assets/sfondo.webp');
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
}

h1, h2 {
  font-family: "Baloo Paaji 2", sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-transform:uppercase;
  font-weight: 600;
}

h2 {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
